.nav-content {
    /* border: 1px solid red; */
    /* background-color: rgb(221, 221, 221); */
    padding: 10px 0px 10px 0px;
    color: white;
}
.nav-content .nav {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-content .nav .nav-item {
    padding: 5px 10px;
}
.nav-content .nav .nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia;
}
.nav-content .nav .nav-item a img {
    width: 50px; /* adjust as needed */
    height: 50px; /* adjust as needed */
}
.nav-content .nav .nav-item a:hover {
    color: #87cefa;
}
